.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Input Placeholders */
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

input.form-control::-webkit-input-placeholder {
    color: #ACB5BD;
}
input.form-control::-moz-placeholder {
    color: #ACB5BD;
}
input.form-control:-ms-input-placeholder {
    color: #ACB5BD;
}
input.form-control::-ms-input-placeholder {
    color: #ACB5BD;
}
input.form-control::placeholder {
    color: #ACB5BD;
}

